/* Prefixed CSS */
.actions, .info {
  min-height: 400px;
  margin-top: 80px;
}

.info {
  background-color: whitesmoke;
}
.info h5 {
  text-align: center;
}
.plant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plant h5 {
  text-align: center;
  margin-bottom: 0;
}
.plant .top-line {
  margin-top: 18px;
}

.plant img {
  margin-top: 60px;
}

.actions {
  background-color: #177EAA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.actions p {
  color: white;
  text-align: center;
  margin-top: 55px;
  font-weight: bold;
}

.actions .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.btn {
  width: 125px;
  background-color: #626261 !important;
  border-color: #626261 !important;
}

.name {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 8px 0 0 0;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 0;
}