// Variables
$primary-blue: #177EAA;
$shade-grey: grey;
$non-white: #EAEAEA;
$highlight: #EB813D;

//Page
html{
  background-color: $non-white;
}

//// Navigation
//List
.nav{
  display: inline-block;
  width: 280px;
  float:left;
  position: fixed;
  h2{
    font-family: 'Khula', sans-serif;
    margin-left: 12px;
    font-weight: 800;
    color: $shade-grey;
    font-size: 49px;
    margin: 0;
  }
  ul{
    li{
      color: $primary-blue;
      list-style: none;
      a{
        font-family: 'Khula', sans-serif;
        font-weight: 800;
        font-size: 35px;
        text-decoration: none;
        color: $primary-blue;
        margin: 12px;
      }
      div{
        h5{
          color: $shade-grey;
          display: inline-block;
        }
      }
    }
  }
}

//Name
.navName {
  font-family: 'Khula', sans-serif;
  margin-left: 28px;
  font-weight: 800;
  color: $primary-blue;
  font-size: 48px;
}

////main
.main {
  background-color: $primary-blue;
  min-width: 70%;
  max-width: 1028px;
  height: 2000px;
  float: right;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 125px;
}
//About
.about{
  div{
    h4{
      color: white;
      margin-left: 28px;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
      font-size: 36px;
      margin: 25px 5px 5px 65px;
    }
    .devTitle {
      margin: -20px 0px 0px 65px;
    }
  }
  p{
    width: 420px;
    font-family: 'Khula', sans-serif;
    color: white;
    margin-left: 90px;
    display: inline-block;
  }
  .photo{
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 238px;
    background-color: #006880;
  }
  .backgroundIn {
    h3 {
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }
    ul{
      margin-left: 90px;
      li{
        font-family: 'Khula', sans-serif;
        font-weight: 800;
        color: white;
      }
    }
  }
  .why {
    h3 {
      margin-top: 30px;
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }
    p{
      margin-top: 0px;
      width: 580px;
    }
  }
  .skills {
    h3 {
      margin-top: 30px;
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }
    label {
      margin-top: 30px;
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
      font-size: 16px;
      margin-right: 10px;

    }
    input[type=range] {
      float: right;
      margin-right: 10%;
      // margin: auto;
      outline: 1px solid rgba(255, 129, 3, 10);
      padding: 0;
      width: 50%;
      height: 13px;
      background-color: transparent;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #00ff00));
      background-image: -webkit-linear-gradient(#00ff00, #000022);
      background-image: -moz-linear-gradient(#473e4f, #51475a);
      background-image: -o-linear-gradient(#473e4f, #51475a);
      background-image: linear-gradient(#FF8103, #FF8103);
      background-size: 50% 100%;
      background-repeat: no-repeat;
  /*     border-radius: 5px; */
      cursor: pointer;
      -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        box-shadow: none;
        border: none;
        background: white;
        -webkit-appearance: none;
    }

    input[type=range]::-moz-range-track {
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type=range]::-moz-focus-outer {
        border: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 0px;
        height: 0px;
        border: 0;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
        -webkit-appearance: none;
    }

    input[type=range]::-moz-range-thumb {
        width: 0px;
        height: 0px;
        border: 0;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    }
    .slider {
      margin-top: 30px;
    }
  }
  .what {
    width: 580px;
    h3 {
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }
    ul{
      // max-width: 500px;
      margin-left: 90px;
      li{
        font-family: 'Khula', sans-serif;
        font-weight: 800;
        color: white;
      }
    }
  }


  //VVV End of about
}
.projects {
  .projectShape {
    height: 99px;
    svg {
      polygon {
        fill: #004A8C;
        stroke-width: 5px;
        display: inline-block;
      }
    }
  }
  .projectBg {
    background-color: #004A8C;
    height: 1200px;
    h3 {
      margin-left: 90px;
      color: white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }
  }
}


