// Variables
$primary-blue: #177EAA;
$shade-grey: grey;
$non-white: #EAEAEA;
$highlight: #EB813D;
$contrast-orange: #ec7f11;

//Page
body {
  width: 100%;
}
html {
  background-color: $non-white;
}
.columns {
  height: 20px;
}

.container {
  width: 100%;
  margin-top: 3%;
}

.externalLinks {
  color: $shade-grey;
  text-decoration: none;
}

.externalLinks:hover {
  color: $non-white;
}

.nav {
  position: fixed;
  max-width: 27%;
  margin-top: 2%;
  h2{
    font-family: 'Khula', sans-serif;
    font-weight: 800;
    color: $shade-grey;
    font-size: 49px;
    margin: 0;
  }
  ul {
    li {
      color: $primary-blue;
      list-style: none;
      .navContacts {
        max-width: 290px;
      }
      a {
        font-family: 'Khula', sans-serif;
        font-weight: 800;
        font-size: 35px;
        text-decoration: none;
        color: $primary-blue;
        margin: 12px;
        color: $shade-grey;
        display: inline-block;
      }
      a:hover{
        color: $primary-blue;
      }
      h5{
        margin: 0px;
      }
    }
  }
}
//Name
.navName {
  margin-top: 2%;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  color: $primary-blue;
  font-size: 48px;
}


.main {
  background-color: $primary-blue;
  border-radius: 22px;
  .about{
      h4 {
        color: $non-white;
        margin-left: 4%;
        margin-bottom: 0px;
        font-family: 'Khula', sans-serif;
        font-weight: 800;
        font-size: 36px;
      }
      p {
        max-width: 60%;
        margin-left: 4%;
        font-family: 'Khula', sans-serif;
        color: $non-white;
        display: inline-block;
      }
      img{
        width: 28%;
        border-radius: 10px;
        float: right;
        margin-right: 4%;
      }

      .devTitle{
        padding-top: 5%;
      }

      .devTitle2 {
        margin-bottom: 15px;
        margin-top: 10px;
        padding-top: 2px;
      }

      .background {
        h4 {
          margin-left: 4%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 600;
        }
        ul {
          margin-left: 4%;
          li {
            font-family: 'Khula', sans-serif;
            font-weight: 600;
            color: $non-white;
          }
        }
      }
      .why {
        h4 {
          margin-left: 4%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 600;
        }
        p {
          max-width: 90%;
          margin-left: 4%;
          font-family: 'Khula', sans-serif;
          color: $non-white;
          display: inline-block;
        }
      }
      .skills {
        h4 {
          margin-left: 4%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 600;
          display: inline-block;
        }
        p {
          margin-left: 1%;
        }
        span {
          margin-left: 4%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 800;
          font-size: 16px;
        }
      }
      .what {
        h4 {
          padding-top: 7%;
          margin-left: 4%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 600;
        }
        ul {
          margin-left: 4%;
          li {
            max-width: 90%;
            font-family: 'Khula', sans-serif;
            font-weight: 600;
            color: $non-white;
          }
        }
      }
  }
  .projects {
    .projectShape {
      overflow: hidden;
      svg {
        height: 60px;
        min-width: 1000%;
        polygon {
          fill: #004A8C;
          display: inline-block;
        }
      }
    }
    .projectsTitle {
      float: left;
      margin-left: 4%;
      color: $non-white;
      font-family: 'Khula', sans-serif;
      font-weight: 800 !important;
    }
    .projectBg {
      background-color: #004A8C;
      min-height: 724px;
      margin-top: -9px;
      border-bottom: 11px solid $non-white;
      padding-bottom: 6%;
      .project {
        .techUsed {
          h5{
            float: none;
            margin-left: 4%;
            margin-top: 0%;
          }
          .lists {
            margin-left: 5%;
            .listOne, .listTwo {
              color: $non-white;
              display: inline-block;
              font-family: 'Khula', sans-serif;
              font-weight: 600;
              width: auto;
              margin-left: 5%;
              ul{
                li{
                  margin-bottom: 0px;
                  min-width: 150px;
                }
              }
            }
          }
        }
        h5 {
          float: right;
          padding-right: 25%;
          color: $non-white;
          font-family: 'Khula', sans-serif;
          font-weight: 800;
          margin-top: 30px;
        }
        .project-image {
          width: 94%;
          margin: 0 auto;
          img {
            max-width: 100%;
            min-width: 95%;
            height: auto;
            border-radius: 5px;
          }
        }
        p {
          margin-top: 4%;
          max-width: 90%;
          margin-left: 4%;
          font-family: 'Khula', sans-serif;
          color: $non-white;
          display: inline-block;
        }
      }
      .projectLinks {
        margin-left: 24px;
        .button {
          color: $non-white;
          font-size: 14px;
          width: 44%;
          padding-left: 3%;
          padding-right: 3%;
        }
        .button:hover {
          color: $non-white;
          font-size: 14px;
        }
        .codeBtn{
          margin-left: 8%;
        }
      }
    }
  }

  .contacts {
    margin-bottom: 8%;
    min-height: 444px;
    background-color: $contrast-orange;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    h4 {
      margin-left: 4%;
      color: $non-white;
      font-family: 'Khula', sans-serif;
      font-weight: 800;
    }

    p {
      max-width: 66%;
      margin-left: 12%;
      font-family: 'Khula', sans-serif;
      color: $non-white;
      display: inline-block;
    }
    .contactBlurb {
      margin-left: 16%;
    }
    .contactShape {
      fill: $non-white;
    }
    .contactGroup {
      margin-left: 9%;
      .contactOption {
        display: inline-block;
        margin: 0% 10% 0% 8%;
        a{
        text-decoration: none;
        }
        .contactIcon {
          width: 44px;
          height: 44px;
          margin: 4px auto;
          img {
            width: 100%;
            height: 100%;
          }
          .emailIcon{
            margin: 0px 0px 0px 0px;
          }
        }
        h6 {
          font-family: 'Khula', sans-serif;
          color: $non-white;
          font-size: 22px;
        }
        h6:hover{
          color: $primary-blue;
        }
      }
    }
  }
}
.hidden {
  visibility: hidden;
}

@media (max-width: 840px) {
  .nav{
    display: none;
  }
  .four{
    display: none;
  }
  .eight.columns {
    width: 96%;
    margin: 0px 2%;
  }
}

@media (min-width: 550px) {
  .nav {
    margin-left: 2%;
  }
}

@media (max-width: 550px) {
  .codeBtn {
    display: block;
    min-width: 80%;
    // background-color: red;
  }
  .main .projects .projectBg .projectLinks .codeBtn {
    margin-left: 0%;
    min-width: 80%;
  }
  .main .projects .projectBg .project h5 {
    margin-left: 5%;
    float: left;
  }
  .hidden {
    display: none;
  }
  .main .projects .projectBg .project .techUsed .lists {
    margin-bottom: 15px;
  }
  .main .projects .projectBg .project .techUsed .lists ul {
    margin-bottom: 0px;
  }
}

.cavity {
  margin-left: 14%;
  border: 1px solid $contrast-orange;
  width: 70%;
  height: 13px;
  border-radius: 3px;
}
.fill {
  background-color: $contrast-orange;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.javascript {
  width: 85%;
}
.ruby {
  width: 70%;
}
.css {
  width: 70%;
}
.git {
  width: 80%;
}
.mean {
  width: 80%;
}
.manage {
  width: 90%;
}
.deploy {
  width: 85%;
}
.speaking {
  width: 90%;
}
.contactBlurb {
  margin-left: 16% !important;
}
